.finger, .shouzhang{
	background-color: #fff; position: relative;
}
.finger{margin-left: 500px;z-index: 3;}
.finger div,.shouzhang div{display: block;position: absolute;/* left: 100px; */}
.finger:nth-child(0){margin-top: 100px;width: 310px;height: 199px;left: 90px;top: 17px;background-color: #fff32d;border: #000 solid 10px;border-top-left-radius: 160px 80px;/* border-top-right-radius: 100px; */border-bottom-right-radius: 200px 100px;border-bottom-left-radius: 300px 200px;border-right: none;transform: rotate(110deg);}
.finger:nth-child(1){z-index: 2;width: 126px;height: 75px;left: 286px;top: 169px;background-color: #fff32d;border-left: #000 solid 10px;border-top: #000 solid 10px;border-bottom: #000 solid 5px;/* border-right: #000 solid 5px; */border-top-left-radius: 380px;border-top-right-radius: 100px 1px;border-bottom-left-radius: 100px 0px;border-bottom-right-radius: 300px 300px;transform: rotate(145deg);}
.finger:nth-child(2){top: 219px;left: 226px;width: 114px;height: 148px;background-color: #fff32d;}
.finger:nth-child(3){width: 83px;height: 150px;top: 237px;left: 300px;background-color: #fff;border-left: #000 solid 10px;border-top-left-radius: 150px 180px;border-right: none;border-bottom: none;transform: rotate(1deg);}
.shouzhang{
    top: 321px;
    left: 290px;
}
.s1{width: 377px;height: 79px;top: 16px;left: 2px;border-top-left-radius: 200% 1002%;border-top-right-radius: 200% 1000%;background-color:#fff32d;border: #000 solid 10px;transform: rotate(4deg);}
.s2{width: 400px;height: 105px;top: 44px;background-color:#fff32d;border-left: #000 solid 10px;border-radius: 40px;}
.s3{width: 100px;height: 101px;top: 145px;background-color:#fff32d;border: #000 solid 10px;border-right:none;border-top-left-radius: 300% 200%;border-bottom-left-radius: 300% 200%;/* border-bottom: none; */}
.s4{width: 100px;height: 99px;top: 248px;background-color:#fff32d;border: #000 solid 10px;border-right:none;border-top-left-radius: 300% 200%;border-bottom-left-radius: 300% 200%;/* border-bottom: none; */}
.s5{z-index: -1;width: 383px;height: 149px;top: 322px;left: 16px;background-color:#fff32d;border: #000 solid 10px;border-bottom-left-radius: 300% 200%;border-bottom-right-radius: 300% 200%;border-top-left-radius: 200%;transform: rotate(-5deg);}
.s6{
    width: 315px;
    height: 325px;
    left: 84px;
    top: 30px;
    background-color: #fff32d;
}
.s7{
    width: 129px;
    height: 509px;
    top: -73px;
    left: 373px;
    background-color: #fff32d;
    border: #000 solid 10px;
    border-left: none;
    border-top-right-radius: 300% 200%;
    border-bottom-right-radius: 300% 200%;
}
.s8{
    width: 33px;
    top: 166px;
    height: 211px;
    left: 320px;
    border-left: #000 solid 10px;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 300% 200%;
    transform: rotate(-20deg);
}
.s9{
    width: 212px;
    height: 67px;
    border-bottom: #000 solid 10px;
    border-bottom-left-radius: 40%;
    top: 81px;
    left: 13px;
    /* background-color: #ff8901; */
    transform: rotate(-4deg);
}
.s10{
    width: 209px;
    height: 67px;
    border-bottom: #000 solid 10px;
    border-bottom-left-radius: 40%;
    top: 180px;
    left: 13px;
    /* background-color: #ff8901; */
    transform: rotate(-4deg);
}

.s11{
    width: 214px;
    height: 67px;
    border-bottom: #000 solid 10px;
    border-bottom-left-radius: 40%;
    top: 288px;
    left: 13px;
    /* background-color: #ff8901; */
    transform: rotate(-4deg);
}
.text{position:absolute; width: 100%; text-align: center; top: 20px; font-size: 20px;}

